@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'DigitalSans';
	src: url('../fonts/DigitalSans/DigitalSans-Regular.woff2') format('woff2'),
			 url('../fonts/DigitalSans/DigitalSans-Regular.woff') format('woff'),
			 url('../fonts/DigitalSans/DigitalSans-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'DigitalSans';
	src: url('../fonts/DigitalSans/DigitalSans-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Arges';
	src: url('../fonts/Arges/Arges-CondensedBlack.woff2') format('woff2'),
			 url('../fonts/Arges/Arges-CondensedBlack.woff') format('woff');
	font-weight:900;
	font-style: normal;
	font-display: swap;
}

:root {
    font-family: 'DigitalSans', sans-serif;
}

.underline span {
	text-decoration: underline;
}